* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
    
 .contenir{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
 justify-content: space-around;
 margin: 50px;
 }
 .text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
 justify-content: space-evenly;
 }
 .text2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
 }
 .text3{
   border: 5px solid red;
   background-color: red;
   color: white;
   margin: 100px;
   height: 400px;
   width: 550px;
  align-items: center;
  text-align: center;
  padding: 180px;
 }